/* Mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
    /* Adjust logo size */
    .logo img {
      width: 50px;
      height: 50px;
    }
    
    /* Adjust navbar layout */
   .navbar ul {
      flex-direction: column;
    }
    
   .navbar li {
      margin-right: 0;
    }
    
    /* Adjust background image size */
   .background-image {
      height: 300px;
    }
    
    /* Adjust font size for better readability */
   .come h2 {
      font-size: 18px;
    }
  }
  
  /* Tablet devices (max-width: 768px) */
  @media only screen and (max-width: 768px) {
    /* Adjust logo size */
   .logo img {
      width: 75px;
      height: 75px;
    }
    
    /* Adjust navbar layout */
   .navbar ul {
      flex-direction: row;
      justify-content: space-around;
    }
    
   .navbar li {
      margin-right: 10px;
    }
    
    /* Adjust background image size */
   .background-image {
      height: 400px;
    }
    
    /* Adjust font size for better readability */
   .come h2 {
      font-size: 20px;
    }
  }
  
  /* Desktop devices (min-width: 1024px) */
  @media only screen and (min-width: 1024px) {
    /* Adjust logo size */
   .logo img {
      width: 100px;
      height: 100px;
    }
    
    /* Adjust navbar layout */
   .navbar ul {
      justify-content: space-between;
    }
    
   .navbar li {
      margin-right: 20px;
    }
    
    /* Adjust background image size */
   .background-image {
      height: 500px;
    }
    
    /* Adjust font size for better readability */
   .come h2 {
      font-size: 24px;
    }
  } 